<div class="container">
<div class="row clearfix">
		<div class="col-md-6 col-md-offset-3">
			<center><h1>Detalles Experiencia</h1></center>
			<div class="jumbotron">

			<div class="row">
				<div class="col-md-4">
					<p><strong>Titulo:</strong></p>
				</div>
				<div class="col-md-4">
					<p><%=experience.title%></p>
				</div>
				</div>

				<div class="row">
				<div class="col-md-4">
					<p><strong>Descripción:</strong></p>
				</div>
				<div class="col-md-4">
					<p><%=experience.description%></p>
				</div>
				</div>

				<div class="row">
				<div class="col-md-4">
					<p><strong>Departamento:</strong></p>
				</div>
				<div class="col-md-4">
					<p><%=experience.depto%></p>
				</div>
				</div>

				
				<div class="row">
				<div class="col-md-4">
					<p><strong>Ciudad:</strong></p>
				</div>
				<div class="col-md-4">
					<p><%=experience.city%></p>
				</div>
				</div>
				<div class="row">
				<div class="col-md-4">
					<p><strong>Dirección:</strong></p>
				</div>
				<div class="col-md-4">
					<p><%=experience.address%></p>
				</div>
				</div>
				<div class="row">
				<div class="col-md-4">
					<p><strong>Estado:</strong></p>
				</div>
				<div class="col-md-4">
					<p><%=experience.state%></p>
				</div>
				</div>
				<form action="/experiencia/edit/<%= experience.id%>" method="POST" accept-charset="utf-8">
					<button type="submit" class="btn btn-success btn-lg  pull-right" >Editar</button>
					<input type="hidden" name="_csrf" value="<%= _csrf %>"/><br>
				</form>
			</div>	

</div>
</div>
</div>
</div>